<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Eddy Current Solutions, LLC</title>
    @* google fonts *@
    <link href="https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Fjalla+One|Questrial|Work+Sans" rel="stylesheet">
    @* bulma sheets *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css" />*@
    <link href="~/Content/bulma.css" rel="stylesheet" />
    @* MVC stuff *@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @* NAVBAR ATTEMPT *@
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="~/Content/EddyCurrentLLCLogoGrey.png" alt="Eddy Current Solutions, LLC" width="100" height="50">
            </a>
            <a class=" navbar-item">
                </a>            
            <button class="button navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
    @* NAV TABS line 8198 in css file *@
    <div class="tabs eddyNavTab is-toggle is-fullwidth is-large is-dark is-12-mobile">
        <ul>
            <li class="is-active">
                <a href="~/Home/GetQuote">
                    @*<span class="icon is-small"><i class="fas fa-image"></i></span>*@
                    <span>Get a Quote</span>
                </a>
            </li>
            <li>
                <a href="~/Home/Services">
                    <span>Services Offered</span>
                </a>
            </li>
            <li>
                <a>
                    <span>The ECS, LLC Approach</span>
                </a>
            </li>
            <li>
                <a href="~/Home/About">
                    <span>About ECS, LLC</span>
                </a>
            </li>
            <li>
                <a href="~/Home/Index">
                    <span>ECS, LLC Home</span>
                </a>
            </li>
        </ul>
    </div>


    @RenderBody()

    <footer class="footer">
        <div class="container">
            <div>
                <container>
                    <section class="hero is-light">
                        <div class="hero-body">
                            <div class="container">
                                <div class="columns">
                                    <div class="is-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </container>
            </div>
            <div class="content has-text-centered">
                <p>
                    &copy; @DateTime.Now.Year <strong>Eddy Current Solutions</strong>, LLC
                </p>
            </div>
        </div>
    </footer>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Eddy Current Solutions, LLC</p>
            </footer>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
